.hide {
    display: none !important;
}
/* 目录 */
.main-content-preview {
    padding: 10px 0;
    background: #f5f5f5;
    border-radius: 10px;
}

.preview-title {
    text-align: center;
    font-size: 20px;
}
